* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 80%;
  margin: auto;
}
/*dunno if i should keep it? have more of it on the bottom*/

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  margin-top: auto;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 130px;
}

.navbar {
  font-family: 'Spectral SC', serif, sans-serif;
  text-align: center;
  font-weight: bolder;
  height: 130px;
  width: 100%;
  margin: 0px;
  opacity: 1;
  padding: 38px;
  z-index: 10;
/*  position: fixed;  */
}

.navbar a {
  text-decoration: none;
}

 .navbar a.navbar-brand {
  font-family: 'Spectral SC', serif;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  color: black;
  height: inherit;
  line-height: inherit;
 }
.navbar ul {
  list-style: none;
  text-align: center;
  padding: 14px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 100px;
  color: #A56E44;
}
.navbar ul li a:hover {
  background-color: #B3DBCE;
}
.navbar .navbar-toggler {
  display: none;
}



.iconDetails {
float: center;
height:60px;
width:60px;
margin-left: 15px;
margin-right: 15px;
margin-top: 18px;
}
.iconDetails:hover {
  opacity: 0.5;
  background-color: transparent;
}
.container2 {
 width:100%;
 height:auto;
}
<div id="links">




.profilePic{
 height:310px;
 width:310px;
 width: 40%

}
.profileDetails {
  float: left;
  text-align: left;
  width: 60%;
  max-width: 100%;
  height:auto;
  font-size: 20px;
  padding-right: 15px;
  margin-bottom: 40px;
}

main section1 {
  margin-top: 20px;
  padding-top: 15px;
}

main section1 img{
    border-radius: 30px;
    border: 3px solid #A7734C;
    padding: 0px;
    float: right;
  }


  main section2 h3{  /*heading art gallary*/
    font-family: 'Spectral SC', serif, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 5px;
  }

 h2{
   font-family: 'Spectral SC', serif, sans-serif;
   font-size: 25px;
   margin-top: 15px;
  }



main {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }


main img{
  max-width: 100%;
}


p1{
padding: 0px;
}



/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
div.cssbox {
   display: inline-block;

}

img.cssbox_thumb {
height: 230px;
border: 2px solid #8D5B39;
padding: 0px;
}

span.cssbox_full {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px pink;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.cssbox_close {
  top: 1%;
  right: 1%
}

a.cssbox_close::after {
  content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

/* This is the end of CSSBox */



footer{
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 4px;
  font-size: 15px;
  margin-top: 5px;
}



p.caption{
  color: #A7734C;
  font-size: 15px;
  margin-top: 0;
}

/*this one is also ok ( only 66% approved, but js is better and it works)
html {
  scroll-behavior: smooth;
}
*/

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 58px;
  right: 40px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
/*i dont think this one works*/
#back-to-top-btn:hover, #back-to-top-btn:focus {
color: white;
opacity: 0.5;
}

/*animations*/
.btnEntrance {
   animation-duration: 0.5s;
   animation-fill-mode: both;
   animation-name: btnEntrance;
}
/*fadeInUp*/
@keyframes btnEntrance {
   from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   }
   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* fadeOutDown */
@keyframes btnExit {
  from {
     opacity: 1;
  }
  to {
     opacity: 0;
     transform: translate3d(0, 100%, 0);
  }
}

@media (max-width: 700px) {
/*  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}
*/


@media (max-width: 700px) {
    #container {
      width: 90%;
    }



    .profilePic{
     text-align: center;
     float: none;
     height:100%;
     width:100%;
     max-width: 310px;
     max-height: 310px;
    }
    .profileDetails {
      text-align: center;
      float: none;
      width: 100%;
      max-width: 100%;
      height:auto;
      font-size: 20px;
      margin-right: 5px;
    }

    main section1 img{
        border-radius: 30px;
        border: 3px solid #A7734C;
        padding: 0px;
      }

      main section1 {
        margin-top: 20px;
        padding-top: 15px;
      }

      img.cssbox_thumb {
      height: 100px;
      }

  /*  .navbar {
      padding: 49px;
    }

    .navbar a.navbar-brand {

    }

    .navbar ul {
      width: 100%;
      padding: 0;
      margin-top: 10px;
      background-color: #F1CCB4;
      height: 100vh;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
      max-height: 100vh;
    }
    .navbar ul li {
      margin-top: 10px;
      width: 100%;

    }
    .navbar ul li a {
      padding: 0;
    }
    .navbar .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 45px;
      right: 20px;
      background-color: red;
      color: violet;
      border: 3px solid #A56E44;
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
      display: block;
      content: '';
      background-color: #A56E44;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
      transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
      transform: translateY(5px);
    }

    .navbar .navbar-toggler.open-navbar-toggler span {
      background-color: transparent;
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
      transform: translateY(0px) rotate(45deg);
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
      transform: translateY(-3px) rotate(-45deg);
    }  */
}
